body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ccc123;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    width: 100px;
}

h2 {
    opacity: 0;
    transform: translateY(20px);
    animation: easeInUp 0.8s ease-out forwards;

}

button {
    background-color: #007bff; 
    color: white;              
    padding: 10px 20px;        
    border: none;              
    font-size: 16px;           
    cursor: pointer;           
}

button:hover {
    background-color: #0056b3; 
}

p {
    opacity: 0;
    transform: translateY(20px);
    animation: easeInUp 0.8s ease-out forwards;

}

h1 {
    opacity: 0;
    transform: translateY(20px);
    animation: easeInUp 0.8s ease-out forwards;

}

h3 {
    opacity: 0;
    transform: translateY(20px);
    animation: easeInUp 0.8s ease-out forwards;

}

@keyframes easeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
