body {
    background-color: #ccc123;
}

#Flappy {
    border: none;
    background-color: blue;
    cursor: pointer;
    width: 300px;
    height: 50px;
    font-size: 20px;
    color: white;
}

button {
    background-color: #007bff; 
    color: white;              
    padding: 10px 20px;        
    border: none;              
    font-size: 16px;           
    cursor: pointer;           
}

button:hover {
    background-color: #0056b3; 
}
